.messagesForm{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messages__text{
    width: 100%;
    padding: 5px 10px;
    resize: none;
    outline: none;
}
.messages__btn{
    color: white;
    background-color: black;
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}