.user__page{
    width: 100%;
}
.user__page_const{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img__container{
    width: 50%;
    cursor: pointer;
}
.img{
    width: 100%;
    display: block;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.btn{
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px 20px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.name{
    text-transform: capitalize;
    color: black;
    font-size: 20px;
}